.home-page {
    text-align: center;
    .carousel {
        width: 100vw;
        img {
            width: 100vw;   
            object-fit: cover;
    
            max-height: 40vh;
        }
    }
    .group-buttom {
        padding: 10% 5%;
        button{
            width: 50vw;
        }
    }
}
