.signup-page {
    text-align: center;
    .coiner {
        position: relative;
        .text-bottom-center {
            font-weight: bold;
            font-size: 24px;
            position: absolute;
            bottom: 0%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .img-signup {
        border-radius: 0 0 10px 10px;
    }
    img {
        width: 100vw;   
        object-fit: cover;

        max-height: 40vh;
    }
    .input-container {
        padding:5% 10% ;

        height: 45vh;
    }
    .pagination-container {
        padding: 0 10%;

        position: static;
        bottom: 0;
    }
}
