body {
    background-color: lightgray;
    margin: 0;
    font-family: "Bungee Inline", cursive;
    font-family: "Mitr", sans-serif;
    font-weight: lighter;
}
.nav-top {
    -webkit-box-shadow: 5px 5px 28px -2px #B0B0B0; 
    box-shadow: 5px 5px 28px -2px #B0B0B0;
}
.app-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: #3b3b3b;
    font-size: 16px;
}
.main-container {
    height: 100vh;
}
.form-control {
    border-radius: 10px;
}
.btn {
    border-radius: 10px;
    color: black;
}
.text-test{
    color: rgb(92, 92, 92);
    text-align: right;
    font-size: 12px;
}



.login-input{
    width:250px;
    margin: 5px;
    text-align: center;
    align-items: center;
    
}
.img{
    width: 100px;
    height: 100px;
}
